ion-content ion-header {
  text-align: center;
}
ion-list {
  background: #242424;
  list-style-type: none;
  line-height: 200px;
}

ion-label {
  font-size: 2em;
  text-align: center;
  background: #575656;
  width: 100%;
  border-bottom: 1px solid #CCC;
}
